<div class="about-1">
  <h1 class="about-header">About Chakra Squad</h1>
  <br>
  <div class="about-row row">
    <div class="col-sm-4">
      <%= image_tag('smiling_woman.jpg', class: 'img-fluid about-img') %>
    </div>
    <div class="col-sm-8">
      <p class="about-p">
        Our mision is to make every moment of every person's life an extraordinary adventure.
      </p>
      <br>
      <br>
      <p class="about-p">
        Why? Because Life is so much better that way.
      </p>
    </div>
    <br>
  </div>
</div>
<div class="filler">
  <marquee scrollamount="11" direction="left" behavior="scroll">
    <%= image_tag('chakra_scroller.png', alt: 'chakra scrolling image', class: 'chakra-scroller' ) %>
  </marquee>
</div>
<div class="about-2">

</div>
