<h1>About Chakra Squad</h1>
<p>We want every moment of every person's life to be an extraordinary adventure.
We do that by providing products that are exciting, unique, and empowering. We sell
clothing, crystal jewelry, and more things that you'll enjoy wearing.</p>
