<%= image_tag('landing_page_1.png', class: 'img-fluid landing-page-img d-none d-md-block ') %>
<div class="landing-page">
  <div class="jumbotron">
    <h1 class="display-4">Hello, Visitor!</h1>
    <p class="lead">
      Welcome to Chakra Squad! Your visit is appreciated.
    </p>
    <hr class="my-4">
    <p>
      Join the many members of Chakra Squad and browse our empowering, high-end products.
    </p>
    <%= link_to 'Browse Inventory', products_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Learn More', simple_pages_about_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
