/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html{
  width: 100%;
}
 body{
   background-image: url('anamnisar.jpg');
   width: 100%;
   padding: 0;
 }

a, a:hover{
  color: purple;
}

.container-fluid{
  margin: 0 auto;
}


.btn-outline-success {
  color: #673C5A;
  border-color: #673C5A;
}

 .btn-outline-success:hover {
   color: #F8F9FA;
   border-color: #673C5A;
   background-color: #673C5A;
 }

 .btn-outline-success:active:focus {
   border-color: #673C5A !important;
   background-color: #673C5A !important;
   box-shadow: none !important;
 }

.btn.btn-primary,
.btn.btn-primary:active,
.btn-primary:not(:disabled):not(.disabled):active{
  background-color: purple;
  border-color: purple;
  margin: 3px;
}

a.index-product-names{
  font-family: 'Oleo Script', cursive;
  font-size: 1.6em;
  color: black;
  position: relative;
}

a.index-product-names:hover{
  color: black;
  text-decoration: none;
}

a.index-product-names:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.index-product-names:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}



 .instance-form{
   padding-top: 15px;
   width: 90%;
 }

 #instance-form-description{
   height: 200px;
 }

 .field-label{
   color: #673C5A;
   font-family: Helvetica, sans-serif;
   font-size: 2em;
   text-align: center;
   margin: 1% auto;
 }

 .field-input{
   display: block;
   margin: auto;
   width: 70%;
   height: 40px;
   font-family: Helvetica, sans-serif;
   font-size: 1.3em;
   padding: 4px 6px;
   border-radius: 10px;
   box-shadow: none;
 }

#form-button{
  float: right;
}
