// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-image{
  border-radius: 10px;
  transition: opacity 0.1s;
}

.product-image:hover{
  opacity: 0.5;
}

.show_product_image{
  text-align: center;
}

.product_description{
  border: 8px solid black;
  border-radius: 5px;
  margin-top: 2%;
}
.svg.octicon.octicon_broadcast {
    width: 32;
    height: 32;
}

.product_heading{
  text-align: center;
}
