// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.product-image{
  border-radius: 10px;
  transition: opacity 0.1s;
}

.product-image:hover{
  opacity: 0.5;
}
