// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
  font-family: 'Lobster', cursive;
  color: #673C5A;
  text-align: center;
}

/* Index Page */
.chakra-scroller{

}

#featured-product-heading{
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

#featured-product-image{
  border: 3px solid red;
  display: block;
  margin: 0 auto;
}

/* end of Index Page */

/* Contact Page */



.contact-p p{
  text-align: center;
  font-size: 1.3em;
}

.contact-send{
  text-align: right;
}

.form-contact{
  width: 50%;
  margin: 0 auto;
}

.form-control:focus{
  border-color: purple;
  box-shadow: 0 0 0 0.2rem purple;
}

.form-group.name{
  width: 200px;
}

.form_label.btn.btn-primary,
.form_label.btn.btn-primary:active{
  background-color: purple;
  border-color: purple;
}
/* end of Contact Page */

/* About Page */
.about-header{
  font-size: 6em;
}

.about-1, .about-2{
  position: relative;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

.about-1{
  background-image: url(thailand_scene.png);
}

.about-2{
  background-image: url(anamnisar.jpg);
  height: 300px;
}



.about-row{
  width: 90%;
  margin: 0 auto;
}

.about-img{
  border-radius: 30px;
}

.about-p{
  font-size: 2.2em;
}

.filler{
  height: 100px;
  width: 100%;
  background-color: purple;
  filter: blur(20px);
}
/*end of About Page */

/* Footer */
footer{
  text-align: center;
}

.fb-page{
  width: 200px;
}
/* end of Footer */
