// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1{
  font-family: 'Lobster', cursive;
  color: #673C5A;
  text-align: center;
}

/* landing Page */




.jumbotron{
  background-color: rgba(255, 255, 255, 0.45);
  position: relative;
  width: 60%;
  margin: 0 auto;
  top: 40px;
  text-align: center;
}

@media only screen and (max-width: 767px){
  .jumbotron{
    width: 95%;
  }
}

.landing-page-img{
  filter: blur(5px);
  position: absolute;
}
/* end of landing Page */

/* Contact Page */



.contact-p p{
  text-align: center;
  font-size: 1.3em;
}

.contact-send{
  text-align: right;
}

.form-contact{
  width: 50%;
  margin: 0 auto;
}

.form-control:focus{
  border-color: purple;
  box-shadow: 0 0 0 0.2rem purple;
}

.form-group.name{
  width: 200px;
}

.form_label.btn.btn-primary,
.form_label.btn.btn-primary:active{
  background-color: purple;
  border-color: purple;
}
/* end of Contact Page */

/* About Page */
.about-header{
  font-size: 6em;
  text-shadow: 4px 4px purple;
}

.about-1, .about-2{
  position: relative;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

.about-1{
  background-image: url('https://i.postimg.cc/BnHYKbDp/thailand-scene.png');
  background-size: cover;
}

.about-2{
  background-image: url('https://i.postimg.cc/pX74j3SW/smiling-woman.png');
  background-size: cover;
}

.about-row{
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.about-img{
  border-radius: 30px;
}

.about-p{
  font-size: 2.2em;
  position: relative;
  color: white;
}

.about-p.bio{
  width: 90%;
  margin: 0 auto;
}

.about-link{
  color: lightsalmon;
}

.about-link:hover{
  color: darkorchid;
}

.about-1 img, .about-2 img{
  border-radius: 0;
  position: absolute;
}

.filler{
  height: 100px;
  width: 100%;
  background-color: purple;
}

.about-end{
  height: 100%;
  background-color: black;
}

.joyride-svg{
  width: 100%;
  height: 100%;
}
/*end of About Page */

/* Footer */
footer{
  margin: 0 auto;
  position: static;
  bottom: 0;
}
/* end of Footer */
